.diet-container {
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    background-color: #636262;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

  }
  
  h1 {
    text-align: center;
  }
  
  .input-container {
    margin-bottom: 10px;
    display: flex;
  }
  
  input[type='text'] {
    border: 1px solid #ccc;
    padding: 8px;
    flex: 1;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    margin-left: 10px;
    background-color: #4caf50;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 16px;
  }
  
  ul {
    padding: 0;
    list-style-type: none;
  }
  
  li {
    margin-bottom: 10px;
    align-items: center;
    display: flex;
  }
  
  li input[type='text'] {
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    flex: 1;
  }
  
  li button {
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    border: none;
    color: white;
    margin-left: 10px;
    cursor: pointer;
    background-color: #f44336;
  }